<div class="container">
    <ng-container *ngIf="movie$ | async as movie">
      <button style="display: flex;" (click)="onBack()">
        Back
      </button>
      <h1>
        {{ movie.title }}
      </h1>
      <div style="display: flex">
        <img style="max-width: 200px" [src]="movie.poster" [alt]="movie.poster" />
        <p><span style="font-weight: bold">Summary: </span>{{ movie.summary }}</p>
      </div>
  
      <p style="text-align: center; font-size: 18px; font-weight: 500;">Details</p>

      <table>
        <tr>
          <td class="td-rigth" colspan="2" scope="cells">Box office</td>
          <td class="td-left">{{ movie.box_office | budget}}</td>
        </tr>
        <tr>
          <td class="td-rigth">Budget</td>
          <td class="td-left">{{ movie.budget | budget }}</td>
        </tr>
        <tr>
          <td class="td-rigth">Duration</td>
          <td class="td-left">{{ movie.duration | duration}}</td>
        </tr>
        <tr>
          <td class="td-rigth">Produces</td>
          <td class="td-left">{{ movie.producers | array}}</td>
        </tr>
        <tr>
            <td class="td-rigth">Cinematographers</td>
            <td class="td-left">{{ movie.cinematographers}}</td>
          </tr>
      </table>
    

    </ng-container>
  </div>
